@font-face
  font-family: "simple-editor"
  src: url("../fonts/simple-editor.eot")
  src: url("../fonts/simple-editor.eot?#iefix") format("embedded-opentype"), url("../fonts/simple-editor.woff") format("woff"), url("../fonts/simple-editor.ttf") format("truetype"), url("../fonts/simple-editor.svg#simple-editor") format("svg")
  font-weight: normal
  font-style: normal

@media screen and (-webkit-min-device-pixel-ratio:0)
  @font-face
    font-family: "simple-editor"
    src: url("./simple-editor.svg#simple-editor") format("svg")

.fi:before
  display: inline-block
  font-family: "simple-editor"
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1
  text-decoration: inherit
  text-rendering: optimizeLegibility
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

.icon-align:before
  content: "\f100"
.icon-bold:before
  content: "\f101"
.icon-capital-letter:before
  content: "\f102"
.icon-capitals:before
  content: "\f103"
.icon-center-alignment:before
  content: "\f104"
.icon-center-alignment-1:before
  content: "\f105"
.icon-columns:before
  content: "\f106"
.icon-file:before
  content: "\f107"
.icon-font:before
  content: "\f108"
.icon-font-1:before
  content: "\f109"
.icon-guides:before
  content: "\f10a"
.icon-indent:before
  content: "\f10b"
.icon-italic:before
  content: "\f10c"
.icon-justify-align:before
  content: "\f10d"
.icon-left-align:before
  content: "\f10e"
.icon-left-alignment:before
  content: "\f10f"
.icon-left-indent:before
  content: "\f110"
.icon-line-spacing:before
  content: "\f111"
.icon-ordered-list:before
  content: "\f112"
.icon-list-1:before
  content: "\f113"
.icon-unordered-list:before
  content: "\f114"
.icon-print:before
  content: "\f115"
.icon-right-indent:before
  content: "\f116"
.icon-save:before
  content: "\f117"
.icon-search:before
  content: "\f118"
.icon-strikethrough:before
  content: "\f119"
.icon-subscript:before
  content: "\f11a"
.icon-table:before
  content: "\f11b"
.icon-table-1:before
  content: "\f11c"
.icon-underline:before
  content: "\f11d"
    
$font-Flaticon-align: "\f100"
$font-Flaticon-bold: "\f101"
$font-Flaticon-capital-letter: "\f102"
$font-Flaticon-capitals: "\f103"
$font-Flaticon-center-alignment: "\f104"
$font-Flaticon-center-alignment-1: "\f105"
$font-Flaticon-columns: "\f106"
$font-Flaticon-file: "\f107"
$font-Flaticon-font: "\f108"
$font-Flaticon-font-1: "\f109"
$font-Flaticon-guides: "\f10a"
$font-Flaticon-indent: "\f10b"
$font-Flaticon-italic: "\f10c"
$font-Flaticon-justify-align: "\f10d"
$font-Flaticon-left-align: "\f10e"
$font-Flaticon-left-alignment: "\f10f"
$font-Flaticon-left-indent: "\f110"
$font-Flaticon-line-spacing: "\f111"
$font-Flaticon-list: "\f112"
$font-Flaticon-list-1: "\f113"
$font-Flaticon-list-2: "\f114"
$font-Flaticon-print: "\f115"
$font-Flaticon-right-indent: "\f116"
$font-Flaticon-save: "\f117"
$font-Flaticon-search: "\f118"
$font-Flaticon-strikethrough: "\f119"
$font-Flaticon-subscript: "\f11a"
$font-Flaticon-table: "\f11b"
$font-Flaticon-table-1: "\f11c"
$font-Flaticon-underline: "\f11d"
