$size : $u6

.is-editor
  width : 100%
  min-height : 200px
  display : flex
  flex-direction : column
  .toolbar
    display : flex
    flex-wrap : wrap
    .is-action
      min-width : $size
      height : $size
      display : flex
      justify-content : center
      align-items : center
      touch-callout : none
      user-select : none
      .h
        font-weight : 700
        font-size : $u3
        font-style : normal
      .b
        font-size : $u * 3.8
      &:hover
        background : rgba( $color-base1, 0.5 )
        cursor : pointer
  .content
    flex : 1
    background : darken( $color-main-content, 3% )
    padding : $u2
    overflow : auto
    resize : vertical
    h1, h2, h3
      margin-bottom : $u
    ul, ol
      margin : $u 0
    ul
      list-style-type : disc
      padding-left : $u2
    ol
      list-style-type : decimal
      padding-left : $u2
  textarea
    display : none

