.is-row
  .is-one
    .is-editor
      .toolbar
        .is-action( title="Deshacer" ed-action="undo" )
          i.b.ion-ios-undo
        .is-action( title="Rehacer" ed-action="redo" )
          i.b.ion-ios-redo
        .is-action( title="Negrita" ed-action="bold" )
          i.fi.icon-bold
        .is-action( title="Cursiva" ed-action="italic" )
          i.fi.icon-italic
        .is-action( title="Subrayado" ed-action="underline" )
          i.fi.icon-underline
        .is-action( title="Tachado" ed-action="strikeThrough" )
          i.fi.icon-strikethrough
        .is-action( title="Alinear a la izquierda" ed-action="justifyLeft" )
          i.fi.icon-left-align
        .is-action( title="Centrar" ed-action="justifyCenter" )
          i.fi.icon-center-alignment
        .is-action( title="Alinear a la derecha" ed-action="justifyRight" )
          i.fi.icon-left-align.is-mirror
        .is-action( title="Justificar" ed-action="justifyFull" )
          i.fi.icon-justify-align
        .is-action( title="Indentar" ed-action="indent" )
          i.fi.icon-right-indent
        .is-action( title="Desindentar" ed-action="outdent" )
          i.fi.icon-left-indent
        .is-action( title="Lista ordenada" ed-action="insertOrderedList" )
          i.fi.icon-ordered-list
        .is-action( title="Lista desordenada" ed-action="insertUnorderedList" )
          i.fi.icon-unordered-list
        .is-action( title="H1" ed-action="h1" )
          i.h H1
        .is-action( title="H2" ed-action="h2" )
          i.h H2
        .is-action( title="H3" ed-action="h3" )
          i.h H3
        .is-action( title="Párrafo" ed-action="p" )
          i.h P
      .content( style="" contenteditable="true" )
      textarea( ng-model="ngModel" )

